*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategray
    font-family: '', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #fff;
}